<mat-card>
  <mat-card-header>
    <mat-card-title>User Form</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="onSaveUser()" #form="ngForm">
    <mat-card-content>
      <mat-form-field appearance="fill"  style="width: 100%;">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          name="firstName"
          placeholder="First Name"
          required
          [(ngModel)]="user.firstName"
        />
      </mat-form-field>

      <p>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            name="lastName"
            placeholder="Last Name"
            [(ngModel)]="user.lastName"
          />
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="onGoBack()">
        Back
      </button>
      <button mat-raised-button color="primary" type="submit" >Save</button>
    </mat-card-actions>
  </form>
</mat-card>
