<h3>Admin</h3>
<nav mat-tab-nav-bar >
  <a
    mat-tab-link
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    queryParamsHandling="preserve"
    routerLink="./"
    (click)="activeLink = './'"
    [active]="activeLink == './'"
  >
    Dashboard
  </a>
  <a
    mat-tab-link
    routerLinkActive="active"
    routerLink="./tasks"
    (click)="activeLink = './tasks'"
    [active]="activeLink == './tasks'"
  >
    Manage Tasks
  </a>
  <a
    mat-tab-link
    queryParamsHandling="preserve"
    routerLink="./users"
    (click)="activeLink = './users'"
    [active]="activeLink == './users'"
  >
    Manage Users
  </a>
</nav>
<router-outlet></router-outlet>
